<menu class="social-media-share">
    <a href="https://www.instagram.com/luciano.webdev/" rel="external" title="Instagram" style="border: 0;"><i class="fab fa-instagram-square"></i></a>
    <a href="http://www.twitter.com/luciano_dev" rel="external" title="Twitter" style="border: 0;"><i class="fab fa-twitter-square"></i></a>
    <a href="https://github.com/luciano-im" rel="external" title="GitHub" style="border: 0;"><i class="fab fa-github-square"></i></a>
    <a href="http://www.facebook.com/luciano.munoz.3154" rel="external" title="Facebook" style="border: 0;"><i class="fab fa-facebook-square"></i></a>
    <a href="https://ar.linkedin.com/in/luciano-mu%C3%B1oz-94b7a19b" rel="external" title="LinkedIn" style="border: 0;"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:hola@luciano.im" rel="external" title="My Mail" style="border: 0;"><i class="fas fa-envelope-square"></i></a>
    {{!-- <a href="http://www.facebook.com/luciano.munoz.3154" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="http://www.twitter.com/luciano_sds" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://ar.linkedin.com/in/luciano-mu%C3%B1oz-94b7a19b" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/luchisds" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:hola@luciano.im" class="icon-mail" rel="external" title="My Mail"></a> --}}
</menu>