<menu class="social-media-share">
    <a href="http://www.facebook.com/luciano.munoz.3154" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="http://www.twitter.com/luciano_sds" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://ar.linkedin.com/in/luciano-mu%C3%B1oz-94b7a19b" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/luchisds" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:hola@luciano.im" class="icon-mail" rel="external" title="My Mail"></a>
    <!--<a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>-->
</menu>