<div class="pagination">
    {{#if next}}
    <a href="{{page_url next}}">
        <button class="next button button--ujarak button--border-thin button--text-thick">Next</button>
    </a>
    {{/if}}
    
    {{#if prev}}
    <a href="{{page_url prev}}">
        <button class="prev button button--ujarak button--border-thin button--text-thick">Prev</button>
    </a>
    {{/if}}
</div>